*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.playerWarp{
    width:100%;

    background-color: #000;
    overflow: auto;
}
.playerArea{
    max-width: 980px;
    margin:auto;
    aspect-ratio: 16/9;
}

.content{
    max-width: 980px;
    margin: auto;

}

.floating{
    position: fixed;
    width:380px;
    aspect-ratio: 16/9;
    right: 20px;
    bottom:10px;
    box-shadow: cyan 0 0 10px;
}
